* {
    box-sizing: border-box; 
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333333;
}

header {
    background-color: #4C8CAF;
    color: #FFFFFF;
    margin: 0;
    padding: 20px;
    border: 2px solid #CCCCCC;
    text-align: center;
}

header h1 {
    text-decoration: underline;
}

header nav {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding: 10px;
}

header nav a {
    color: #FFFFFF;
    padding: 10px 15px;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

div {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

#contact a {
    color: #4C8CAF;
}

#blog-posts ul {
    list-style-type: none;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
}

#blog-posts ul li {
    flex: 1 1 calc(30% - 20px); 
    border: 1px solid #ccc;
    padding: 15px;
}

#blog-posts ul li a {
    text-decoration: none;
    color: #4C8CAF;
}

#blog-posts ul li a:hover {
    text-decoration: underline;
}

#contact a {
    color: #4C8CAF;
}

#photo-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px;
}

#photo-gallery img {
    width: 100%;
    border-radius: 8px;
}